// empty

.empty__container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;
    height: 80vh;
  
    p {
      justify-content: center;
      text-align: center;
      color: $secondaryTextColor;
    }
  
    img {
      height: 50vh;
      opacity: .5;
    }

}