.navbar {
    background-color: $whiteColor;
    border-bottom: 1px solid $disableColor;

    .navbar-brand {
        color: $secondaryColor;
        font-weight: 700;
        font-size: $main_header_text;
    }

}

@media #{$mobile} {
    .navbar {
        padding: 0;

        .navbar-brand {
            font-size: 1.2rem;
        }
    }
}