.home__todoList {
    width: 100%;
    p {
        margin-bottom: 0;
    }

    .todoList__header {
        width: 100%;
        margin: 20px 0;
        align-items: center;

        h3 {
            font-size: $main_header_secondary_text;
            color: $primaryTextColor;
            margin-bottom: 0;
        }
       
        h3,
        .form-group {

            input {
                border: 1px solid $disableLightColor;
                @include getShadow;
                padding: 10px;
                border-radius: 5px;
                margin-right: 10px;

                &::placeholder,
                &::-moz-placeholder,
                &::-webkit-input-placeholder {
                    color: $secondaryTextColor;
                }
            }
        }

        .btn-add{
            padding: 12px 20px !important;
        }
    }

    .home__todo-item {

        .home__todo-desc {
            cursor: pointer;
        }

    }
}

@media #{$mobile} {
    .home__todoList {

        .todoList__header {
    
            margin: 0 !important;
            font-size: $main_secondary_text;
            
            &.pushAside {
                display: block !important; 
            }

            .form-group {
                input {
                    flex-grow: 1;
                }

                
            }

            .btn-custom {
                flex-grow: 1;
            }



            h3 {
                font-size: $main_primary_text !important; 
                order: 2 !important;
            }

            .todoItem__edit-form {
                display: flex;

                .form-group {
                    flex-grow: 1 !important;
                }
            }
        }
    }
}