.todoItem__todo-item {
    border: 1px solid $disableColor !important;
    border-radius: 10px !important;
    margin-bottom: 10px;
    font-size: $main_primary_text;

    .todoItem__todo-desc {
        cursor: pointer;
    }

    .btn-edit {
        margin-right: 20px;
    }
    
}

