/*
 * custom styles library
 */
 @import 'media-queries';
 @import 'theme';

 @mixin shadow($box-shadow1, $box-shadow2, $box-shadow3) {
    -webkit-box-shadow: $box-shadow1, $box-shadow2, $box-shadow3;
            box-shadow: $box-shadow1, $box-shadow2, $box-shadow3;
  }
  
@mixin shadow-none($box-shadow-none) {
  -webkit-box-shadow: $box-shadow-none;
          box-shadow: $box-shadow-none;
}

@mixin getShadow {
  @include shadow(
    0 8px 17px 2px rgba(71, 69, 69, 0.023), 
    0 3px 14px 2px rgba(71, 69, 69, 0.023), 
    0 5px 5px -3px rgba(71, 69, 69, 0.023) !important);
}

.main-elevation {
  @include shadow(
    0 8px 17px 2px rgba(71, 69, 69, 0.023), 
    0 3px 14px 2px rgba(71, 69, 69, 0.023), 
    0 5px 5px -3px rgba(71, 69, 69, 0.023) !important);
}

.no-elevation {
  @include shadow-none(none !important);
}

.full-rounded {
  border-radius: 20px !important;
}

.alignX {
  display: flex !important;
  align-items: center !important;
}

@mixin reverse($scale) {
  -moz-transform: $scale;
  -webkit-transform: $scale;
  -o-transform: $scale;
  transform: $scale;
}

.reverseX {
  @include reverse(scaleX(-1));
}

.reverseY {
  @include reverse(scaleY(-1));
}

@mixin aligment($align-items) {
  -webkit-align-items: $align-items;
    -webkit-box-align: $align-items;
        -ms-flex-align: $align-items;
          align-items: $align-items;
}

.pushAside {
    display: flex !important; 
    justify-content: space-between !important;
    margin-left: auto !important;
}

.disabled {
  opacity: .2 !important;
  cursor: inherit !important;
}

.centerMiddle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  @include aligment(center);
}

* {
  transition: .1s ease-in-out !important;
}

@keyframes animate-arrow-right {
  0% {
    transform:translateX(-20px);
    opacity: 0;
  }
  70%,
  100% {
    transform:translateX(0px);
    opacity: 1;
  }
}

i {
  cursor: pointer;
}

.no-bg {
  background: transparent !important;
}

.initMayus {
  text-transform: initial !important;
}

// custom scrollbars

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ccc; 
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #ccc; 
}

.checkedTask {
  text-decoration: line-through;
  color: #ccc;
  cursor: none;
}

@media #{$mobile}  {
  ::-webkit-scrollbar-thumb {
    display: none; 
  }
}

// button base style
@mixin btnStyle(
    $display,
    $lineHeight,
    $textSize, 
    $bgColor, 
    $textColor,
    $textTransform,
    $pad, 
    $mar, 
    $elevation, 
    $border, 
    $borderRadius,
    $textDecoration) {
        font-size: $textSize;
        background-color: $bgColor;
        color: $textColor;
        text-transform: $textTransform;
        padding: $pad;
        margin: $mar;
        box-shadow: $elevation;
        border: $border;
        border-radius: $borderRadius;
        text-decoration: $textDecoration;
        cursor: pointer;
}

// button hover style
@mixin btnHover( 
    $bgColor, 
    $textColor,
    $border,
    $textDecoration,
    $elevation ) {
        background-color: $bgColor;
        color: $textColor;
        border: $border;
        text-decoration: $textDecoration;
        box-shadow: $elevation;
}

// init share propieties bethweem button types 
@mixin customBtnStyles( $bg, $bor: 1px solid transparent ) {
@include btnStyle(
    $display: inline-block,
    $lineHeight: 40px,
    $textSize: $main_secondary_text,
    $bgColor: $bg,
    $textColor: $secondaryColor,
    $textTransform: initial,
    $pad: 8px 15px,
    $mar: null, 
    $elevation: null, 
    $border: $bor, 
    $borderRadius: $main_border_radius,
    $textDecoration: null);
}

// init share hover propieties bethweem button types 
@mixin customHovertyles( $bg, $bor, $under ) {
@include btnHover( 
    $bgColor: $bg, 
    $textColor: $secondaryColor,
    $border: $bor,
    $textDecoration: $under,
    $elevation: null );
}

// init each button styles by type
@mixin getStylesByType( $type ) {

    $normal: 'normal';
    $outline: 'outline';
    $text: 'text';
    $fab: 'fab';

@if $type == $normal {

    @include customBtnStyles( 
        $bg: $primaryColor, 
        $bor: 1px solid transparent );

    } @else if $type == $outline {

        @include customBtnStyles( 
            $bg: transparent, 
            $bor: 1px solid $primaryColor );

    } @else if $type == $text {

        @include customBtnStyles( 
            $bg: transparent, 
            $bor: null );

    } @else if $type == $fab {

        @include customBtnStyles( 
            $bg: $whiteColor, 
            $bor: null );

    } @else {
        @error "Unknown type #{$type}.";
    }
}

// set styles to each button class
.btnNormal {
    @include getStylesByType('normal');
    &:hover {
        @include customHovertyles( 
            $bg: $primaryLightColor, 
            $bor: null,
            $under: null);
    }
}

.btnOutline {
    @include getStylesByType('outline');
    &:hover {
        @include customHovertyles( 
            $bg: $primaryColor, 
            $bor: 1px solid $primaryColor,
            $under: null);
    }
}

.btnText {
    @include getStylesByType('text');
    &:hover {
        @include customHovertyles( 
            $bg: null,
            $bor: null,
            $under: underline !important);
    }
}

.btnFAB {
    @include getStylesByType('fab');
    border-radius: 50px;
    padding: 5px;
    line-height: 0;
    box-shadow: 0 8px 17px 2px rgba(71, 69, 69, 0.023), 
                0 3px 14px 2px rgba(71, 69, 69, 0.023),
                0 5px 5px -3px rgba(71, 69, 69, 0.023) !important;
    &:hover {
        @include customHovertyles( 
            $bg: $primaryColor,
            $bor: null,
            $under: null);
    }
}