
// main color pallette

$primaryColor: #DAD1FF; 
$primaryDarkColor: #a8a0cc; // hoverDefault
$primaryLightColor: #C4B6FC; 
$secondaryColor: #5b3bda; // 
$secondaryLightColor: #9368ff;
$secondaryDarkColor: #0d0ca7; // disableColor
$primaryTextColor: #333333; // disableColor
$secondaryTextColor: #858282; // secondaryTextColor
$disableColor: #E8E9EB; // separator
$backgroundLight: #9368ff21;
$whiteColor: #FFFFFF; 
$blackColor: #000000;
$overlay: #00000069; 

// main style settings
$main_border_radius : 5px;
$main_primary_text: 1rem;
$main_secondary_text: .8rem;
$main_header_text: 1rem;
$main_icon_size: 20px;
$main_primary_text_color: $secondaryColor;
$main_secondary_text_color: $secondaryTextColor;