// main color pallette

$primaryColor: #DAD1FF; 
$primaryDarkColor: #a8a0cc; // hoverDefault
$primaryLightColor: #C4B6FC; 
$secondaryColor: #5b3bda; // 
$secondaryLightColor: #9368ff;
$secondaryDarkColor: #0d0ca7; // disableColor
$primaryTextColor: #333333; // disableColor
$secondaryTextColor: #858282; // secondaryTextColor
$disableColor: #E8E9EB; // separator
$backgroundLight: #9368ff21;
$whiteColor: #FFFFFF; 
$blackColor: #000000;
$overlay: #00000069; 

// main style settings
$main_border_radius : 5px;
$main_primary_text: 1rem;
$main_secondary_text: .8rem;
$main_header_text: 1rem;
$main_icon_size: 20px;
$main_primary_text_color: $secondaryColor;
$main_secondary_text_color: $secondaryTextColor;

// button base style
@mixin btnStyle(
    $display,
    $lineHeight,
    $textSize, 
    $bgColor, 
    $textColor,
    $textTransform,
    $pad, 
    $mar, 
    $elevation, 
    $border, 
    $borderRadius,
    $textDecoration) {
        font-size: $textSize;
        background-color: $bgColor;
        color: $textColor;
        text-transform: $textTransform;
        padding: $pad;
        margin: $mar;
        box-shadow: $elevation;
        border: $border;
        border-radius: $borderRadius;
        text-decoration: $textDecoration;
        cursor: pointer;
}

// button hover style
@mixin btnHover( 
    $bgColor, 
    $textColor,
    $border,
    $textDecoration,
    $elevation ) {
        background-color: $bgColor;
        color: $textColor;
        border: $border;
        text-decoration: $textDecoration;
        box-shadow: $elevation;
}

// init share propieties bethweem button types 
@mixin customBtnStyles( $bg, $bor: 1px solid transparent ) {
@include btnStyle(
    $display: inline-block,
    $lineHeight: 40px,
    $textSize: $main_secondary_text,
    $bgColor: $bg,
    $textColor: $secondaryColor,
    $textTransform: initial,
    $pad: 8px 15px,
    $mar: null, 
    $elevation: null, 
    $border: $bor, 
    $borderRadius: $main_border_radius,
    $textDecoration: null);
}

// init share hover propieties bethweem button types 
@mixin customHovertyles( $bg, $bor, $under ) {
@include btnHover( 
    $bgColor: $bg, 
    $textColor: $secondaryColor,
    $border: $bor,
    $textDecoration: $under,
    $elevation: null );
}

// init each button styles by type
@mixin getStylesByType( $type ) {

    $normal: 'normal';
    $outline: 'outline';
    $text: 'text';
    $fab: 'fab';

@if $type == $normal {

    @include customBtnStyles( 
        $bg: $primaryColor, 
        $bor: null );

    } @else if $type == $outline {

        @include customBtnStyles( 
            $bg: transparent, 
            $bor: 1px solid $primaryColor );

    } @else if $type == $text {

        @include customBtnStyles( 
            $bg: transparent, 
            $bor: null );

    } @else if $type == $fab {

        @include customBtnStyles( 
            $bg: $whiteColor, 
            $bor: null );

    } @else {
        @error "Unknown type #{$type}.";
    }
}

// set styles to each button class
.btnNormal {
    @include getStylesByType('normal');
    &:hover {
        @include customHovertyles( 
            $bg: $primaryLightColor, 
            $bor: null,
            $under: null);
    }
}

.btnOutline {
    @include getStylesByType('outline');
    &:hover {
        @include customHovertyles( 
            $bg: $primaryColor, 
            $bor: 1px solid $primaryColor,
            $under: null);
    }
}

.btnText {
    @include getStylesByType('text');
    &:hover {
        @include customHovertyles( 
            $bg: null,
            $bor: null,
            $under: underline !important);
    }
}

.btnFAB {
    @include getStylesByType('fab');
    border-radius: 50px;
    padding: 5px;
    line-height: 0;
    box-shadow: 0 8px 17px 2px rgba(71, 69, 69, 0.023), 
                0 3px 14px 2px rgba(71, 69, 69, 0.023),
                0 5px 5px -3px rgba(71, 69, 69, 0.023) !important;
    &:hover {
        @include customHovertyles( 
            $bg: $primaryColor,
            $bor: null,
            $under: null);
    }
}